# .gitignore

package.json

node_modules
src/services/jugadores.json
src/services/cartas.json

src/cards.json
src/players.json

src/cards.json
package-lock.json
package.json
package.json
*.json

test

\src\players.json
\src\services\player.js

